.b05 {
	background: #fff;
	position: relative;
	padding-top: 90px;
	padding-bottom: 50px;

	&:before {
		top: 0;
		left: 50%;
		z-index: 200;
		content: ' ';
		margin-left: -30px;
		position: absolute;
		border: 30px solid transparent;
		border-top: 30px solid #5BC59B;
	}

	.b03__video {
		margin-bottom: 30px;
	}

	@media (min-width: $screen-sm-min) {

	}
	@media (min-width: $screen-md-min) {
	}
	@media (min-width: $screen-lg-min) {
	}
}