.header {
	z-index: 9999;
	padding: 15px 0;
	background: #fff;
	border-bottom: solid 1px #cccccc;

	.header__logo {
		width: 60px;
		float: left;
		margin-top: 30px;
	}

	.navbar-header {
		padding-bottom: 15px;
	}

	.header__contact {
		margin: 0;
		padding: 0;
		top: -5px;
		right: 10px;
		font-size: 14px;
		line-height: 20px;
		text-align: right;
		position: absolute;

		li {
			float: right;
			margin-left: 4px;
		}


		.header__social {
			width: 34px;
			height: 34px;
			color: #fff;
			font-size: 20px;
			line-height: 24px;
			padding: 5px 0;
			background: #9999cc;
			text-align: center;
			display: inline-block;
			border: 1px solid #9999cc;
			@include transition(.2s);

			&:hover {
				color: #9999cc;
				background: #fff;
			}
		}

		.header__phone {
			height: 34px;
			padding: 5px 10px 5px 0;
			color: #484848;
			line-height: 24px;
			display: inline-block;
			text-decoration: none;
		}
	}

	.header__nav {
		display: none;
		padding-top: 10px;
		border-top: 1px solid #e7e7e7;

		ul {

			li {

				a {
					width: 100%;
					color: #333;
					font-size: 16px;
					line-height: 20px;
					padding: 5px 10px;
					display: inline-block;
					text-decoration: none;
					text-transform: uppercase;
					font-family: $font-family-cond;
				}
			}
		}
	}

	.btn-nav {
		width: 42px;
		padding: 5px;
		float: right;
		color: #555;
		z-index: 999;
		cursor: pointer;
		font-size: 20px;
		margin-top: 50px;
		line-height: 24px;
		text-align: center;
		position: relative;
		display: inline-block;
		border: 1px solid #555;

		&:hover {
			background: #ddd;
		}
	}

	@media (min-width: $screen-xs-min) {

		.header__logo {
			width: 90px;
			margin-top: 0;
		}
	}

	@media (min-width: $screen-sm-min) {
		top: 0;
		left: 0;
		right: 0;
		position: fixed;

		.logo {
			width: 100px;
		}

		.navbar-header {
			float: left;
			padding-bottom: 0;
		}

		.header__contact {
			top: -10px;
			right: 20px;
			font-size: 20px;

			.header__phone {
				font-size: 16px;
			}
		}

		.header__nav {
			float: right;
			display: block;
			margin-top: 40px;
			padding-top: 0;
			border-top-color: transparent;

			ul {

				li {
					float: left;

					a {
						width: auto;
						padding: 10px 10px;

						&:hover {
							text-decoration: none;
							border-bottom: solid 1px #428bca;
						}
					}
				}
			}
		}

		.btn-nav {
			display: none;
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {

	}
}